/* -------------------------------------------------- 
	Basic Basics
-------------------------------------------------- */
html {
	scroll-behavior: smooth;
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: $text;
	font-family: $nunito;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.active {
		overflow: hidden;
	}
}

h1 {
	font-weight: 300;
}

a {
	//color: $vue-green;
	font-weight: 600;
	text-decoration: none;
	&:hover {
		//color: $vue-blue;
	}
}

img {
	width: 100%;
	//margin-bottom: $spacer;
}