/* -------------------------------------------------- 
	Basic Basics
-------------------------------------------------- */

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Avenir', sans-serif;
	font-size: 16px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text;
	&.active {
		overflow: hidden;
	}
}

h1 {
	font-weight: 300;
}

a {
	//color: $vue-green;
	font-weight: 600;
	text-decoration: none;
	&:hover {
		//color: $vue-blue;
	}
}

img {
	width: 100%;
}