// font helpers
.anotherHand {
	font-family: $anotherHand !important;
}

.rye {
	font-family: $rye !important;
}

.nunito {
	font-family: $nunito !important;
}

// Text color
.colorWhite {
	color: $white !important;
}

.colorPrimary {
	color: $primary !important;
}

.colorSecondary {
	color: $secondary !important;
}

.colorAccent {
	color: $accent !important;
}