// variables 
$base-duration: 0.25s;
// colors
$primary: #BC4B51;
$secondary: #EFCB68;
$accent: #686963;

$success: #27ae60;
$info: #2980b9;
$warning: #f1c40f;
$alert: #e74c3c;

$white: #fff;
$black: #000;
$black-light: #333333;
$gray: #777;
$gray-light: #999;
$gray-lighter: #bbb;
$gray-lightest: #eee;
$gray-dark: #555;
$gray-darker: #333;
$gray-darkest: #263238;

$text: $gray-dark;

// Responsive Sizes 
$sm: 20rem;
$med: 48rem;
$lg: 64rem;

// widths
$max-width: 75rem;

$spacer: 1rem;