// variables 
// colors
$primary: #BC4B51;
$secondary: #EFCB68;
$accent: #686963;

$success: #27ae60;
$info: #2980b9;
$warning: #f1c40f;
$alert: #e74c3c;

$white: #fff;
$black: #000;
$gray: #777;
$gray-light: #999;
$gray-lighter: #bbb;
$gray-lightest: #eee;
$gray-dark: #555;
$gray-darker: #333;
$gray-darkest: #263238;

// Responsive Sizes 
$sm: 320px;
$med: 768px;
$lg: 1024px;

// widths
$max-width: 1200px;