.about {
	&-image,
	&-content {
		border-radius: 10px;
		box-shadow: 0 0 1rem rgba($black,0.2);
	}
	&-image {
		height: 13.4375rem;
		margin-bottom: $spacer;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		&--beginning {
			background-image: url('https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
		}
		&--middle {
			background-image: url('https://images.pexels.com/photos/1073097/pexels-photo-1073097.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
		}
		&--dream {
			background-image: url('https://images.pexels.com/photos/331107/pexels-photo-331107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
		}
	}
	&-content {
		padding: $spacer;
		background-color: rgba($white,0.1);
		@media (min-width: $med) {}
		p {
			margin-bottom: 0;
			line-height: 1.65;
		}
	}
}