.accordion {
	display: flex;
	flex-direction: column;
	margin-bottom: $spacer;
	&-item {
		display: flex;
		flex-direction: column;
	}
	&-trigger {
		display:flex;
		justify-content:space-between;
		margin-bottom:1px;
		padding: $spacer;
		background-color: rgba($white,0.2);
		color: $secondary;
		font-weight: bold;
		transition: all .2s ease-in-out;
		cursor:pointer;
		&:after {
			display: flex;
			align-items: center;
			justify-content: center;
			content:'\f078';
			font-family: $awesome;
		}
		.is-open & {
				background-color: $secondary;
				color: $primary;
				&:after {
					content:'\f077';
				}
		}
	}
	&-content {
		padding: 0 $spacer;
		color: $white;
		font-weight: 400;
		height: 0;
		transition: height 0.25s ease;
		overflow: hidden;
		>*:last-child {
				margin-bottom: 0;
		}
		p {
			padding: $spacer 0;
		}
	}
}

@keyframes accordion {
	from {
			opacity:0;
	}
	to {
			opacity:1;
	}
}