.accordion {
	display: flex;
	flex-direction: column;
	margin-bottom: $spacer;
	&-item {
		display: flex;
		flex-direction: column;
	}
	&-trigger {
		display:flex;
		justify-content:space-between;
		margin-bottom:1px;
		padding: $spacer;
		background-color: rgba($white,0.2);
		color: $secondary;
		font-weight: bold;
		transition: all .2s ease-in-out;
		cursor:pointer;
		&:after {
			display: flex;
			align-items: center;
			justify-content: center;
			content:'\f078';
			font-family: $awesome;
		}
		.is-open & {
				background-color: $secondary;
				color: $primary;
				&:after {
					content:'\f077';
				}
		}
	}
	&-content {
		display: none;
		padding: $spacer;
		color: $white;
		font-weight: 400;
		>*:last-child {
				margin-bottom: 0;
		}
		//just to display the content when the script adds the .is-open class on load and user click
		.is-open & {
				display:block;
		}
		//a nifty hook to do animations or whatevs when content is triggered open by user
		.is-opening & {
				animation: 1s accordion;
		}
	}
}






@keyframes accordion {
	from {
			opacity:0;
	}
	to {
			opacity:1;
	}
}