.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 1rem 0;
	padding: 0.625rem 1.25rem;
	background-color: $gray;
	border: 0.125rem solid $gray;
	border-radius: 0;
	color: $white;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;
	appearance: none;
	cursor: pointer;
	transition: $base-duration linear;
	vertical-align: middle;
	&:hover {
		background-color: lighten($gray,10%);
		border: 0.125rem solid lighten($gray,10%);
		// color: $white;
	}
	&:disabled,
	&[disabled] {
		background-color: $gray-lightest;
		border: 0.0625rem solid $gray-lightest;
		&:hover {
			cursor: not-allowed;
		}
	}
	&-primary {
		background-color: $primary;
		border: 0.125rem solid $primary;
		&:hover {
			background-color: lighten($primary,10%);
			border: 0.125rem solid lighten($primary,10%);
		}
	}
	&-secondary {
		background-color: $secondary;
		border: 0.125rem solid $secondary;
		color: $primary;
		&:hover {
			background-color: lighten($secondary,10%);
			border: 0.125rem solid lighten($secondary,10%);
		}
	}
	&-accent {
		background-color: $accent;
		border: 0.125rem solid $accent;
		color: $secondary;
		&:hover {
			background-color: lighten($accent,10%);
			border: 0.125rem solid lighten($accent,10%);
		}
	}
	i {
		margin-top: -2px;
		margin-left: $spacer*0.75;
	}
	&-success {}
	&-info {}
	&-warning {}
	&-alert {}



	&-small {
		padding: 0.3125rem 0.9375rem;
		font-size: 0.75rem;
	}
	&-medium {
		padding: 1rem 1.875rem;
		font-size: 1.125rem;
	}
	&-large {
		padding: 1.25rem 2.5rem;
		font-size: 1.25rem;
	}
	&-full {
		width: 100%;
	}
}