.callout-menu {
	position: relative;
	display: block;
	padding: $spacer;
	&--yellow {
		order: 12;
		// width: 100vw;
		margin-top: $spacer*1.25;
		//margin-bottom: $spacer*1.25;
		margin-left: -0.9375rem;
		margin-right: -0.9375rem;
		background-color: $secondary;
		@media (min-width: 768px) {
			margin-left: 0;
			maregin-right: 0;
			margin-top: 0;
			width: 100%;
		}
	}
	&--basic {
		margin-bottom: $spacer*1.25;
		background-color: $white;
		> p { 
			margin-bottom: 0;
			color: $primary;
			font-size: 0.875rem;
			font-weight: 500;
			line-height: 1.75;
		}
	}
	&--primary {
		margin-bottom: $spacer*1.25;
		background-color: $primary;
		> p { 
			margin-bottom: 0;
			color: $white;
			font-size: 0.875rem;
			font-weight: 500;
			line-height: 1.75;
		}
	}
	.callout-title {
		margin-bottom: $spacer*0.5;
		color: $primary;
		font-size: 1.125rem;
		small {
			color: $text;
			font-size: 0.75rem;
			white-space: nowrap;
		}
	}
	.callout-inner {
		padding: $spacer/2;
		border: 4px solid $white;
		p {
			margin-bottom: 0;
			font-size: 0.875rem;
		}
	}
}