#cards {
	
}

.card {
	position: relative;
	border-radius: 0.1875rem;
	box-shadow: 0 0.625rem 1.25rem rgba(0,0,0,0.05), 0 0.375rem 0.375rem rgba(0,0,0,0.09);
	overflow: hidden;
	.card-header {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 9.375rem;
		background-image: url('https://images.pexels.com/photos/1441508/pexels-photo-1441508.jpeg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.card-content {
		position: relative;
		display: block;
		padding: 1.25rem;
		p {
			margin: 0;
		}
	}
	.card-footer {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		button {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			//height: 2.5rem;
			padding: 0.625rem;
			//background-color: $vue-green;
			border: none;
			color: $primary;
			font-size: 0.875rem;
			font-weight: 600;
			span {
				margin-left: 0.625rem;
				font-size: 1.25rem;
			}
		}
	}
}