.footer {
	padding: 1.5rem 0 0;
	color: $white;
	background-color: $black-light;
	.logo {
		margin-bottom: $spacer;
	}
	&-address {
		margin-bottom: $spacer;
		border-bottom: 2px solid rgba($gray-lighter,0.4);
	}
	&-contact {
		margin-bottom: $spacer;
		border-bottom: 2px solid rgba($gray-lighter,0.4);
		@media (min-width: $med) {
			border-bottom: 0;
		}
		p {
			&:first-child {
				margin-bottom: 0;
			}
		}
		a {
			color: $white;
			font-weight: normal;
		}
	}
	&-links {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 $spacer/2;
		padding: 0;
		list-style: none;
		@media (min-width: $med) {
			margin-top: 6.25rem;
			padding-bottom: 1rem;
			border-bottom: 2px solid rgba($gray-lighter,0.4);
		}
	}
	&-link {
		> a {
			color: $white;
			&:hover {
				color: $secondary;
			}
		}
	}
	&-copyright {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: $spacer 0;
	}
}