.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	background-color: transparent;
	will-change: transform;
	transform: translateY(0%);
	transition: $base-duration linear;
	z-index: 9999;
	&-sticky {
		background-color: rgba($black,0.8);
	}
	// &-unsticky {
	// 	transform: translateY(-100%);
	// }

	.hamburger {
		position: relative;
		// right: 0;
		// top: 1.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto 0;
		width: 2.1875rem;
		height: 1.5rem;
		padding: 0.1875rem;
		background-color: transparent;
		border: none;
		cursor: pointer;
		outline: none;
		z-index: 999;
		// @media (min-width: $lg) {
		// 	display: none;
		// }
		> span {
			position: relative;
			display: block;
			width: 100%;
			height: 0.125rem;
			background-color: $secondary;
			transition: $base-duration;
			&:before,
			&:after {
				position: absolute;
				content: '';
				left: 0;
				width: 100%;
				height: 0.125rem;
				background-color: $secondary;
				transform-origin: center center;
				transition: $base-duration;
			}
			&:before {
				transform: translateY(-0.4375rem);
			}
			&:after {
				transform: translateY(0.4375rem);
			}
		}
		&.active {
			> span {
				background-color: transparent;
				&:before {
					background-color: $white;
					transform: translateY(0) rotate(-45deg);
				}
				&:after {
					background-color: $white;
					transform: translateY(0) rotate(45deg);
				}
			}
		}
	}
}