.hero {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	width: 100vw;
	height: calc(100vh - 5rem);
	padding: 0;
	overflow: hidden;
	z-index: 1;
	&:before,
	&:after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&:before {
		background-color: rgba($black,0.75);
		z-index: -1;
	}
	.title {
		margin-bottom: $spacer;
		color: $primary;
	}
	.plax {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -2;
	}
	h3 {
		position: relative;
		margin: 0 0 $spacer*0.625; 
		color: $secondary;
		font-size: 1.375rem;
		font-weight: 700;
		line-height: 1.5;
		z-index: 2;
		&:before {
			position: absolute;
			bottom: 0;
			right: 0;
			content: '';
			width: 65%;
			height: 0.0625rem;
			background-color: rgba($white,0.2);
		}
		@media (min-width: $med) {
			&:before {
				width: 45%;
			}
		}
		@media (min-width: $lg) {
			&:before {
				width: 35% !important;
			}
		}
	}
	.hours {
		margin-bottom: $spacer;
		&-list {
			list-style-type: none;
			> li {
				color: $white;
				font-size: 0.875rem;
				font-weight: 400;
				@media (min-width: $lg) {
					font-size: 1rem;
				}
				.open {
					color: $secondary;
					font-weight: 700;
				}
			}
		}
		&-happy {
			color: $primary;
			h4 {
				font-size: 0.875rem;
				@media (min-width: $med) {
					font-size: 1rem;
				}
			}
		}
	}
	.home & {
		.title {
			display: none;
		}
		.plax {
			background-image: url('../img/plax-1.jpg');
		}
	}
	.menu &,
	.about &,
	.contact & {
		height: 35vh;
		.hours {
			display: none;
		}
	}
	.menu & {
		.plax {
			background-image: url('../img/plax-2.jpg');
		}
	}
	.about & {
		.plax {
			background-image: url('../img/plax-3.jpg');
		}
	}
	.contact & {
		.plax {
			background-image: url('../img/plax-4.jpg');
		}
	}
}

.zipDish {
	position: absolute;
	bottom: $spacer;
	left: 0;
	width: 4rem;
	z-index: 999;
	@media (min-width: $med) {
		width: 5rem;
	}
	@media (min-width: $lg) {
		width: 6.5rem;
	}
}