.menu {
	> section {
		padding-top: 0;
	}
	&-section {
		position: relative;
		padding-top: $spacer*3;
		padding-bottom: $spacer*3;
		&--borderBottom {
			border-bottom: 1px dashed $secondary;
		}
	}
	&-title {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		h2 {
			margin-right: $spacer;
			line-height: 1;
		}
		span {
			margin-bottom: 6px;
		}
		small {
			margin-bottom: 6px;
			line-height: 1.25;
		}
		&--underline {
			&:after {
				position: absolute;
				top: 40px;
				content: '';
				width: 100%;
				height: 1px;
				background-color: rgba($white,0.5);
				z-index: 0;
			}
		}
		&Price {
			font-weight: 500;
		}
	}
	&-item {
		display: flex;
		flex: 1 0 auto;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-bottom: $spacer*1.25;
		&Name,
		&Price {
			margin-bottom: $spacer*0.25;
		}
		&Name {
			flex: 1 0 auto;
			color: $primary;
			font-weight: 700;
		}
		&Price,
		&Abv {
			flex: 0 1 auto;
			font-weight: 900;
		}
		&Description {
			flex: 1 0 100%;
		}
		&--between {
			justify-content: space-between;
		}
		.menu-primary & {
			&Name,
			&Price,
			&Description {
				color: $white;
			}
		}
	}
	&-preHeader {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: -$spacer*2;
		padding: $spacer/2;
		background-color: $primary;
		border: 4px solid white;
		transform: translateY(-50%);
		z-index: 9;
		h2 {
			margin: 0;
			color: $white;
		}
		p {
			margin: 0;
			color: $white;
			font-size: 1rem;
			font-weight: 500;
			span {
				display: block;
				color: $secondary;
				font-size: 0.9375rem;
			}
		}
	}
	&-primary {
		padding-top: $spacer*2;
		padding-bottom: $spacer*2;
		background-color: $primary;
		border-top: 4px dashed $secondary;
		border-bottom: 4px dashed $secondary;
		&--noBorder {
			border: 0;
		}
	}
	&-beerMenu {
		.menu-item {
			// margin-bottom: $spacer;
			&Name,
			&Brewery {
				flex: 0 0 60%;
			}
			&Name,
			&Abv, {
				margin-bottom: 0;
			}
			&Abv,
			&Style {
				flex: 1 0 40%;
				text-align: right;
			}
			&Brewery,
			&Style {
				margin-bottom: $spacer/2;
				color: $gray-light;
				font-size: 0.875rem;
				font-style: italic;
			}
		}
	}
}