nav {
	position: fixed;
	top: 0;
	right: -100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	height: 100vh;
	padding: 6.25rem 0.625rem 0;
	background-color: rgba($primary,0.8);
	transition: none;
	overflow: hidden;
	z-index: 0;
	@media (min-width: $med) {
		width: 33%;
	}
	// @media (min-width: $lg) {
	// 	position: relative;
	// 	right: 0;
	// 	display: flex;
	// 	flex-direction: row;
	// 	align-items: center;
	// 	justify-content: flex-end;
	// 	width: auto;
	// 	height: auto;
	// 	padding: 0;
	// 	background-color: transparent;
	// 	//transform: translateX(10%);
	// }
	&.active {
		right: 0;
		.nav-link {
			transform: translateX(0%);
		}
	}
	> ul {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
		z-index: 0;
		// @media (min-width: $med) {
		// 	flex-direction: row;
		// }
		.nav-link {
			position: relative;
			display: block;
			width: 100%;
			border-top: 0.0625rem dashed rgba($white,0.5);
			text-align: center;
			transform: translateX(100%);
			transition: $base-duration;
			transition-delay: $base-duration;
			z-index: -1;
			&:last-child {
				display: flex;
				align-items: center;
				justify-content: center;
				a {
					display: inline;
					width: 15%;
				}
			}
			@for $i from 1 through 6 {
				&:nth-of-type(#{$i}) {
					transition-delay: $i * 0.11s;
				}
			}
			// @media (min-width: $lg) {
			// 	transform: translateX(0%);
			// }
			.zipDish-logo {
				position: absolute;
				top: 50%;
				left: $spacer*0.75;
				width: 2.5rem;
				transform: translateY(-50%);
			}
			> a {
				position: relative;
				display: block;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				height: 100%;
				padding: 0.9375rem 0;
				color: $white;
				font-size: 1.625rem;
				&:hover {
					color: $white;
				}
				&.router-link-active {
					//border-bottom: 0.125rem solid $vue-blue;
					color: white;
					@media (min-width: $med) {
						color: $secondary;
					}
				}
				// @media (min-width: $lg) {
				// 	padding: 0.9375rem;
				// 	font-size: 0.875rem;
				// 	text-align: center;
				// 	transform: translateX(0%);
				// 	z-index: 0;
				// 	&:hover {
				// 		color: $primary;
				// 		ul {
				// 			display: block;
				// 		}
				// 	}
				// }
				.dropdown-menu {
					margin: 0;
					padding: 0 0 0 0.9375rem;
					list-style-type: none;
					// @media (min-width: $lg) {
					// 	position: absolute;
					// 	display: none;
					// 	top: 100%;
					// 	left: 50%;
					// 	padding: 0;
					// 	background-color: white;
					// 	//border-top: 0.25rem solid $vue-blue;
					// 	box-shadow: 0 0 1.25rem rgba(black,0.2);
					// 	transform: translateX(-50%);
					// 	z-index: -999;
					// }
					> li {
						// @media (min-width: $lg) {
						// 	position: relative;
						// 	display: block;
						// 	//min-width: 9.375rem;
						// 	text-align: left;
						// 	z-index: -2;
						// 	a {
						// 		display: block;
						// 		padding: 0.9375rem 1.5625rem;
						// 		&:hover {
						// 			color: $primary;
						// 		}
						// 	}
						// }
					}
				}
			}
		}
	}
}