.scroller {
	position: absolute;
	bottom: 0;
	left: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.5rem;
	height: 2.5rem;
	background-color: $secondary;
	border-radius: 50%;
	box-shadow: 0 0 0.625rem rgba($black,0.2);
	transform: translate(-50%,50%);
	z-index: 9;
	cursor: pointer;
	&:hover,
	&:active,
	&:focus {
		background-color: $accent;
		> button {
			color: $secondary;
		}
	}
	@media (min-width: $med) {
		width: 3.125rem;
		height: 3.125rem;
	}
	@media (min-width: $med) {
		width: 4rem;
		height: 4rem;
	}
	> button {
		padding-top: 0.25rem;
		background-color: transparent;
		border: 0;
		color: $primary;
		font-size: 1rem;
		line-height: 0;
		i {
			@media (min-width: $med) {
				font-size: 1.25rem;
			}
			@media (min-width: $lg) {
				font-size: 1.75rem;
			}
		}
	}
}

.anchor {
	display: block;
	position: relative;
	top: -50px;
	visibility: hidden;
}