.tabs {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: $white;
	&-triggers {
		display: flex;
		background-color: $accent;
	}
	&-trigger {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 0 auto;
		margin: 0;
		padding: 11px $spacer $spacer;
		background-color: $accent;
		border-top: 5px solid $accent;
		color: rgba($white,0.6);
		font-weight: bold;
		transition: 100ms linear all;
		cursor: pointer;
		z-index: 1;
		@media (min-width: $lg) {
			flex: 0 0 auto;
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
		&--active {
			background-color: $white;
			border-top: 5px solid $primary;
			color: $primary;
		}
	}
	&-content {
		padding: 0;
		background-color: $white;
	}
}
