.tabs {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: $white;
	&-triggers {
		display: flex;
	}
	&-trigger {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 0 auto;
		margin: 0;
		padding: 11px $spacer $spacer;
		background-color: $accent;
		border-top: 5px solid $accent;
		font-weight: bold;
		transition: 100ms linear all;
		cursor: pointer;
		&--active {
			background-color: $white;
			border-top: 5px solid $primary;
			color: $primary;
		}
	}
	&-content {
		padding: 0;
		background-color: $white;
	}
}
