.testimonials {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($black,0.8);
		z-index: 0;
	}
	.home & {
		background-image: url('../img/testimonials-home-bg.jpg');
	}
	.about & {
		background-image: url('../img/testimonials-about-bg.jpg');
	}
	.contact & {
		background-image: url('../img/testimonials-contact-bg.jpg');
	}
	h2 {
		margin-top: 0;
		margin-bottom: $spacer/2;
		color: $secondary;
		text-align: center;
	}
	&-slider {
		display: flex;
		justify-content: space-between;
		.prev,
		.next {
			display: none;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			width: 100%;
			height: 90px;
			opacity: 0.6;
			transform: translateY(-20px);
			cursor: pointer;
			@media (min-width: $lg) {
				display: flex;
			}
			&:before,
			&:after {
				content: '';
				width: 1px;
				height: 50px;
				background-color: $white;
			}
			&:hover,
			&:active,
			&:focus {
				opacity: 1;
			}
		}
		.prev {
			&:before {
				transform: rotate(45deg) translateY(10px);
			}
			&:after {
				transform: rotate(-45deg) translateY(-10px);
			}
		}
		.next {
			&:before {
				transform: rotate(-45deg) translateY(10px);
			}
			&:after {
				transform: rotate(45deg) translateY(-10px);
			}
		}
	}
	&-sliderItem {
		margin: 0 20px;
		color: $white;
		font-size: 1.125rem;
		font-weight: 400;
		text-align: center;
		blockquote {
			
		}
		p {
			position: relative;
			margin: 0 0 $spacer;
			&:before {
				position: absolute;
				top: -50px;
				left: -30px;
				content: open-quote;
				color: rgba($white,0.5);
				font-family: $rye;
				font-size: 5rem;
			}
		}
		
	}
	&-author {
		color: $white;
		font-weight: 600;
		text-align: center;
	}
}