/*
data-tooltip="Codepen" data-position="top" class="top"
data-tooltip="Dribbble" data-position="right" class="right"
data-tooltip="Twitter" data-position="bottom" class="bottom"
data-tooltip="Website" data-position="left" class="left"
*/

// animations
a[data-tooltip].top {
	&:before,
	&:after {
		transform: translateY(0.625rem);
	}
	
	&:hover:after,
	&:hover:before {
		transform: translateY(0);
	}
}

a[data-tooltip].right {
	&:before,
	&:after {
		transform: translateX(0);
	}
	
	&:hover:after,
	&:hover:before {
		transform: translateX(0.625rem);
	}
}

a[data-tooltip].bottom {
	&:before,
	&:after {
		transform: translateY(-0.625rem);
	}
	
	&:hover:after,
	&:hover:before {
		transform: translateY(0);
	}
}

a[data-tooltip].left {
	&:before,
	&:after {
		transform: translateX(0);
	}
	
	&:hover:after,
	&:hover:before {
		transform: translateX(-0.625rem);
	}
}

a[data-tooltip] {
	position: relative;

	&:after,
	&:before {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: transform $base-duration ease, opacity $base-duration;
		box-shadow: 0 0 0.625rem rgba(black,0.3);
		z-index: 99;
	}

	&:before {
		content: attr(data-tooltip);
		background: #000;
		color: #fff;
		font-size: 0.625rem;
		font-weight: bold;
		padding: 0.625rem 0.9375rem;
		border-radius: 0.3125rem;
		white-space: nowrap;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.0625rem;
	}

	&:after {
		width: 0;
		height: 0;
		border: 0.375rem solid transparent;
		content: '';
	}

	&:hover:after,
	&:hover:before {
		visibility: visible;
		opacity: 0.85;
		transform: translateY(0);
	}
}

// top tooltip
a[data-tooltip][data-position="top"]:before {
	bottom: 100%;
	left: -130%;
	margin-bottom: 0.625rem;
}

a[data-tooltip][data-position="top"]:after {
	border-top-color: #000;
	border-bottom: none;
	bottom: 101%;
	left: calc(50% - 0.375rem);
	margin-bottom: 0.25rem;
}
// left tooltip
a[data-tooltip][data-position="left"]:before {
	//top: -12%;
	right: 100%;
	margin-right: 0.625rem;
}

a[data-tooltip][data-position="left"]:after {
	border-left-color: #000;
	border-right: none;
	top: 50%;
	right: 100%;
	margin-top: -0.375rem;
	margin-right: 0.25rem;
}
// right tooltip
a[data-tooltip][data-position="right"]:before {
	top: -5%;
	left: 100%;
	margin-left: 0.625rem;
}

a[data-tooltip][data-position="right"]:after {
	border-right-color: #000;
	border-left: none;
	top: calc(50% - 0.375rem);
	left: calc(100% + 0.25rem);
}

// bottom tooltip
a[data-tooltip][data-position="bottom"]:before {
	top: 100%;
	left: -130%;
	margin-top: 0.625rem;
}

a[data-tooltip][data-position="bottom"]:after {
	border-bottom-color: #000;
	border-top: none;
	top: 100%;
	left: 0.3125rem;
	margin-top: 0.25rem;
}
